body {
    background-color: #eee;
}

.container {
    width: 500px;
    height: 700px;
    background-color: white;
    margin: 150px auto; 
    position: relative;
}

.container > p {
    position: absolute;
    left: 20px;
    font-size: 20px;
}

.container > img {
    position: absolute;
    right: 122px;
    top: 20px;
    z-index: 5;
    width: 33px;
    height: 27px;
}

.container > a {
    width: 140px;
    height: 40px;
    background-color: rgb(74 144 226 / 1);
    position: absolute;
    right: 20px;
    top: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.container > a p {
    position: absolute;
    left: 40px;
}

.container hr {
    position: absolute;
    width: 457px;
    top: 70px;
    color: #ffffff36;
    left: 20px;
}

.invite-1 {
    position: absolute;
    top: 90px;
    left: 20px;
}

.invite-1 img {
    max-width: 15%;
    border-radius: 50%;
    border: 5px solid #eee;
}

.invite-1 p {
    position: relative;
    left: 93px;
    top: -90px;
}

.invite-1 p:nth-child(3) {
    font-size: 13px;
    top: -103px;
}

.invite-1 p:nth-child(4) {
    position: relative;
    top: -112px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-1 p:nth-child(5) {
    position: relative;
    left: 148px;
    top: -140px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-1 span {
    color: #5b6c87;
    font-weight: bold;
}

.invite-1 .img-1,
.invite-1 .img-2,
.invite-1 .img-3,
.invite-1 .img-4 {
    max-width: 5%;
    position: relative;
    top: -147px;
    left: 96px;
    margin-left: -15px;
}

.invite-1 .a-1 {
    position: absolute;
    right: 103px;
    top: 0;
    text-decoration: none;
    color: green;
    width: 66px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-1 .a-2 {
    position: absolute;
    right: 22px;
    top: 0;
    text-decoration: none;
    color: orange;
    width: 79px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-2 {
    position: absolute;
    top: 220px;
    left: 20px;
}

.invite-2 img {
    max-width: 15%;
    border-radius: 50%;
    border: 5px solid #eee;
}

.invite-2 p {
    position: relative;
    left: 93px;
    top: -90px;
}

.invite-2 p:nth-child(3) {
    font-size: 13px;
    top: -103px;
}

.invite-2 p:nth-child(4) {
    position: relative;
    top: -112px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-2 p:nth-child(5) {
    position: relative;
    left: 148px;
    top: -140px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-2 span {
    color: #5b6c87;
    font-weight: bold;
}

.invite-2 .img-1,
.invite-2 .img-2 {
    max-width: 5%;
    position: relative;
    top: -147px;
    left: 96px;
    margin-left: -15px;
}

.invite-2 .a-1 {
    position: absolute;
    right: 65px;
    top: 0;
    text-decoration: none;
    color: green;
    width: 66px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-2 .a-2 {
    position: absolute;
    right: -15px;
    top: 0;
    text-decoration: none;
    color: orange;
    width: 79px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-3 {
    position: absolute;
    top: 340px;
    left: 20px;
}

.invite-3 img {
    max-width: 15%;
    border-radius: 50%;
    border: 5px solid #eee;
}

.invite-3 p {
    position: relative;
    left: 93px;
    top: -90px;
}

.invite-3 p:nth-child(3) {
    font-size: 13px;
    top: -103px;
}

.invite-3 p:nth-child(4) {
    position: relative;
    top: -112px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-3 p:nth-child(5) {
    position: relative;
    left: 148px;
    top: -140px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-3 span {
    color: #5b6c87;
    font-weight: bold;
}

.invite-3 .img-1,
.invite-3 .img-2,
.invite-3 .img-3,
.invite-3 .img-4,
.invite-3 .img-5 {
    max-width: 5%;
    position: relative;
    top: -147px;
    left: 96px;
    margin-left: -15px;
}

.invite-3 .a-1 {
    position: absolute;
    right: 102px;
    top: 0;
    text-decoration: none;
    color: green;
    width: 66px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-3 .a-2 {
    position: absolute;
    right: 22px;
    top: 0;
    text-decoration: none;
    color: orange;
    width: 79px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-3 .num-4 {
    position: absolute;
    left: 210px;
    top: 70px;
    color: rgb(74 144 226 / 1);
}

.invite-4 {
    position: absolute;
    top: 478px;
    left: 20px;
}

.invite-4 img {
    max-width: 15%;
    border-radius: 50%;
    border: 5px solid #eee;
}

.invite-4 p {
    position: relative;
    left: 93px;
    top: -90px;
}

.invite-4 p:nth-child(3) {
    font-size: 13px;
    top: -103px;
}

.invite-4 p:nth-child(4) {
    position: relative;
    top: -112px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-4 p:nth-child(5) {
    position: relative;
    left: 148px;
    top: -140px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-4 span {
    color: #5b6c87;
    font-weight: bold;
}

.invite-4 .img-1,
.invite-4 .img-2 {
    max-width: 5%;
    position: relative;
    top: -147px;
    left: 96px;
    margin-left: -15px;
}

.invite-4 .a-1 {
    position: absolute;
    right: 65px;
    top: 0;
    text-decoration: none;
    color: green;
    width: 66px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-4 .a-2 {
    position: absolute;
    right: -15px;
    top: 0;
    text-decoration: none;
    color: orange;
    width: 79px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-5 {
    position: absolute;
    top: 614px;
    left: 20px;
    opacity: 0.1;
}

.invite-5 img {
    max-width: 30%;
    border-radius: 50%;
    border: 5px solid #eee;
}

.invite-5 p {
    position: relative;
    left: 93px;
    top: -90px;
}

.invite-5 p:nth-child(3) {
    font-size: 13px;
    top: -103px;
}

.invite-5 p:nth-child(4) {
    position: relative;
    top: -112px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-5 p:nth-child(5) {
    position: relative;
    left: 148px;
    top: -140px;
    font-size: 13px;
    color: #c2c3cb;
}

.invite-5 span {
    color: #5b6c87;
    font-weight: bold;
}

.invite-5 .img-1,
.invite-5 .img-2 {
    max-width: 5%;
    position: relative;
    top: -147px;
    left: 96px;
    margin-left: -15px;
}

.invite-5 .a-1 {
    position: absolute;
    right: 65px;
    top: 0;
    text-decoration: none;
    color: green;
    width: 66px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-5 .a-2 {
    position: absolute;
    right: -15px;
    top: 0;
    text-decoration: none;
    color: orange;
    width: 79px;
    height: 30px;
    background-color: white;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}



.num-4 {
    position: absolute;
    left: 210px;
    top: 70px;
}
